/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: 
    rgb(59, 120, 200);
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.mypage{
    
    margin: auto;
    /* max-width: 600px; */
    /* background-color: rgb(171, 193, 221); */
    /* background-color: rgb(152, 175, 201); */

    /* align-items: center;
    justify-content: center; */

    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-radius: 4px; */
    /* border-color: black; */
    padding-bottom: 30px;
}

  body {
    margin: 40px;
      background-image: url('circles.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-blend-mode: screen;
      
      }
      
  
  .standard{
    display: block;
    background-color: rgb(152, 175, 201),
    color rgb(152, 175, 201);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50% 50% ;    
    background-color: rgb(152, 175, 201),
    color rgb(152, 175, 201);
  }
  
  .box {
    background-color: rgb(152, 183, 225);
    color: #fff;
    padding: 20px;
    font-size: 150%;
  }
  



/* Set the apperance of the class, chart */
#Chart1{
    /* margin-left: 60px; */
    background-color: rgb(152, 175, 201);
    width:480px;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    text-align: center;
   
}
#Chart2{
    /* margin-left: 60px; */
    background-color: rgb(152, 175, 201);
    width: 480px;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    text-align: center;
    
}

#Chart3{
  background-color: rgb(152, 175, 201);
  width: 489px;
  border-width: 3px;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  text-align: center;
  
}

#Chart4{
  background-color: rgb(152, 175, 201);
  width: 493px;
  height: 388px;
  border-width: 3px;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  text-align: center;
}

hr{
  border: transparent;
  color: black;
  width: 70%;
  border-top: 3px solid ;
  border-color: rgb(255, 255, 255);
  animation: pulse 4s infinite;
}

a{
  background-color: rgb(152, 183, 225);

  padding: 20px;

  border: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 10px;

  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: black;

  text-decoration: none;
}
a:hover{

  background-color: rgb(152, 183, 225);
  border: 2px;
  border-color: black;
  border-style: solid;

}

.heading{ background-color: rgb(152, 183, 225);
  padding: 0px;
  font-size: 150%;}
